// variables
$header-padding: 100px;
$footer-padding: 3em;

// CSS
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: (2 * $footer-padding) + 1em;
}

#layout-header {
    #header {
        position: fixed;
        top: 0;
        width: 100%;
        transition: top 0.5s;

        .navbar {
            padding-top: 2rem;
            padding-bottom: 2rem;

            .nav-link {
                &:hover, &.active {
                    filter: brightness(70%);
                }
            }
        }
    }
}

#layout-content {
    padding-top: $header-padding;
}

#layout-footer {
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: $footer-padding 0;

        p {
            margin-bottom: 0
        }
    }
}