description = "Header image"

[viewBag]
==
{% set image = random(data.images) %}
{% if image.media_type == 'image' %}
    <div class="header-image" style="background-image: url('{{ image.image|media }}')"></div>
{% elseif image.media_type == 'video' %}
    <div class="w100 video-container">
        <video width=100% class="header-video" autoplay muted loop>
            <source src="{{ image.image|media }}" type="video/mp4">
        </video>
    </div>
{% endif %}

{% if data.title %}
    <div class="header-image-title d-flex justify-content-center align-items-center {% if data.overlay %}overlay{% endif %}">
        <h1 style="color: {{ data.title_color }}">
            {{ data.title }}
        </h1>
    </div>
{% endif %}