description = "Header image"

[viewBag]
==
<?php
function onStart() {
    $this['randomProject'] = \Jagu\KrupaArchitekti\Models\Project::inRandomOrder()->first();
}
==
{% if data.random_content %}
    {% set image = { 'image': randomProject.cover_image, 'media_type': 'image' } %}
{% else %}
    {% set image = random(data.images) %}
{% endif %}

{% if image.media_type == 'image' %}
    <div class="header-image" style="background-image: url('{{ image.image|media }}')"></div>
{% elseif image.media_type == 'video' %}
    <div class="video-container">
        <video width="100%" class="header-video" autoplay muted loop>
            <source src="{{ image.image|media|resize(2000, false, { quality: '70' }) }}" type="video/mp4">
        </video>
    </div>
{% endif %}

{% if data.title %}
    <div class="header-image-title d-flex justify-content-center align-items-center {% if data.overlay %}overlay{% endif %}">
        <div class="header-image-title-wrapper">
            <h1 style="color: {{ data.title_color }}">
                {{ data.title }}
            </h1>
            <h3 class="mt-5" style="color: {{ data.title_color }}">
                {{ data.subtitle }}
            </h3>
        </div>
    </div>
{% endif %}