description = "Tmavé pozadí menu, světlý text"

[staticMenu]
code = "main-menu"

[staticPage]
useContent = 0
default = 0

[gallery]

[genericForm]
rules[name] = "required"
rules[email] = "required|email"
rules[comments] = "required"
rules_messages[required] = "Toto pole je povinné"
rules_messages[email] = "Zadejte platnou e-mailovou adresu"
messages_success = "Váš dotaz byl odeslán"
messages_errors = "Během odesílání dotazu došlo k chybě"
mail_enabled = 1
mail_subject = "Zpráva z kontaktního formuláře"
mail_recipients[] = "web@martinkrupa.cz"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 0
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<!DOCTYPE html>
<html lang="cs">

{% partial 'site/meta' %}

<body>

<div class="color-scheme-{{ this.theme.general_color_scheme }}">

    <!-- Header -->
    <header id="layout-header" class="dark">
        {% partial 'site/header' navbarStyle='navbar-dark'%}
    </header>

    <!-- Content -->
    <section id="layout-content">
        <!-- Repeater -->
        {repeater name="sections" groups="~/themes/jagu-krupa-architekti-jagu-oc-theme/meta/blocks.yaml" tab="Blocks"}
        {variable name="_dummy" type="text"}{/variable}
        {/repeater}
        <!-- Render blocks -->
        {% for section in sections %}
            {% partial 'blocks/' ~ section._group data=section %}
        {% endfor %}

        {% page %}

    </section>

    <!-- Footer -->
    <footer id="layout-footer">
        {% partial 'site/footer' %}
    </footer>

</div>

{% partial 'site/scripts' %}

</body>
</html>