description = "Tmavé menu"

[staticMenu]
code = "main-menu"

[staticPage]
useContent = 0
default = 0
==
<!DOCTYPE html>
<html lang="cs">

{% partial 'site/meta' %}

<body>

<div class="color-scheme-{{ this.theme.general_color_scheme }}">

    <!-- Header -->
    <header id="layout-header" class="dark">
        {% partial 'site/header' %}
    </header>

    <!-- Content -->
    <section id="layout-content">
        <!-- Repeater -->
        {repeater name="sections" groups="~/themes/jagu-krupa-architekti-jagu-oc-theme/meta/blocks.yaml" tab="Blocks"}
        {variable name="_dummy" type="text"}{/variable}
        {/repeater}
        <!-- Render blocks -->
        {% for section in sections %}
            {% partial 'blocks/' ~ section._group data=section %}
        {% endfor %}

        {% page %}

    </section>

    <!-- Footer -->
    <footer id="layout-footer">
        {% partial 'site/footer' %}
    </footer>

</div>

{% partial 'site/scripts' %}

</body>
</html>