title = "Project"
url = "/projekt/:slug"
layout = "default"
is_hidden = 0
==
function onStart() { $this['project'] = \Jagu\KrupaArchitekti\Models\Project::where('slug', $this->param('slug'))->first(); }
==
{# header image #}
{% set headerImageData = {'image': project.cover_image} %}
{% partial 'blocks/headerimage' data=headerImageData %}

{# Project detail #}
<div class="project">
    <section class="section">
        <div class="container">
            <h1 class="project-title">{{ project.title }}</h1>
            <div class="project-description">{{ project.description|raw }}</div>
        </div>
    </section>

    <section>
        <div class="container">
            {% for row in project.data %}
                <div class="row">
                    {% for column in row.columns %}
                        <div class="{{ column.width }} {{ column.right_margin }} {{ column.left_margin }} mb-md-5 mb-sm-3 d-flex">
                            {% if column.content_type == 'text' %}
                                <div class="project-text" {{ column.vertical_align }}>
                                    {{ column.content_text|raw }}
                                </div>
                            {% elseif column.content_type == 'image' %}
                                <a href="{{ column.content_image|media }}"
                                   data-lightbox="lightbox"
                                   data-title="{{ project.title }}"
                                >
                                    {{ debug(column.content_image) }}
                                    <img class="project-photo {{ column.vertical_align }}"
                                         src="{{ column.content_image|media }}"
                                         alt="{{ project.title }}"
                                    >
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
</div>
