title = "Project"
url = "/projekt/:slug"
layout = "default"
meta_title = "Martin Krůpa Architekti - Projekty"
meta_description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim viverra nibh, in volutpat tellus viverra sed. Phasellus congue suscipit elit in semper. Aliquam mattis tincidunt metus, lacinia euismod mauris pretium eu. Mauris ultrices at est eget lobortis. Ut sed lectus mattis, tincidunt nulla vel, fringilla augue."
is_hidden = 0
==
<?php
function onInit() {
    $this['project'] = \Jagu\KrupaArchitekti\Models\Project::where('slug', $this->param('slug'))->first();
}
?>
==
{# header image #}
{% set headerImageData = { 'images': [ { 'image': project.cover_image, 'media_type': 'image' } ] } %}
{% partial 'blocks/headerimage' data=headerImageData %}

{# Project detail #}
<div class="project">
    <section class="section">
        <div class="container">
            <h1 class="project-title">{{ project.title }}</h1>
            {% if project.description %}
                <div class="project-description">{{ project.description|raw }}</div>
            {% endif %}
        </div>
    </section>

    <section>
        <div class="{% if project.full_width %}container-fluid{% else %}container{% endif %}">
            {% for row in project.data %}
                <div class="row">
                    {% for column in row.columns %}
                        <div class="{{ column.width }} {{ column.right_margin }} {{ column.left_margin }} mb-3 d-flex">
                            {% if column.content_type == 'text' %}
                                <div class="{% if project.full_width %}container{% endif %}">
                                    <div class="project-text" {{ column.vertical_align }}>
                                        {{ column.content_text|raw }}
                                    </div>
                                </div>
                            {% elseif column.content_type == 'image' %}
                                <div class="{{ column.vertical_align }} w-100">
                                    <a href="{{ column.content_image|media|resize(1920, false, { quality: '70' }) }}"
                                       data-lightbox="lightbox"
                                       data-title="{{ project.title }}"
                                       class="fancy-hover-cursor"
                                    >
                                        <img class="project-photo"
                                             src="{{ column.content_image|media }}"
                                             srcset="
                                                {{ column.content_image|media|resize(600, false, { quality: '70', sharpen: '10' }) }} 600w,
                                                {{ column.content_image|media|resize(1024, false, { quality: '70', sharpen: '10' }) }} 1024w,
                                                {{ column.content_image|media|resize(1600, false, { quality: '70', sharpen: '10' }) }} 1600w,
                                                {{ column.content_image|media|resize(1920, false, { quality: '70', sharpen: '10' }) }} 1920w,
                                                {{ column.content_image|media|resize(2560, false, { quality: '70', sharpen: '10' }) }} 2560w"
                                             alt="{{ project.title }}"
                                        >
                                    </a>
                                </div>
                            {% elseif column.content_type == 'video' %}
                                <a href="{{ column.content_video|media }}"
                                   data-lightbox="lightbox"
                                   data-title="{{ project.title }}"
                                   class="fancy-hover-cursor"
                                >
                                    <video width="100%" autoplay muted loop>
                                        <source src="{{ column.content_video|media }}" type="video/mp4">
                                    </video>
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
</div>